@using Microsoft.AspNetCore.Components.Authorization

@inherits LayoutComponentBase

@layout MainLayout
@inject AuthenticationStateProvider authenticationService

<AuthorizeView Roles="Admin,Manager,User">
    <Authorized>
        <div style="display:flex">
            <div style="flex:1; padding:20px">
                @Body
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        You are not authorized to be here
    </NotAuthorized>

</AuthorizeView>

@code {
    private string? _username;

    protected override async Task OnInitializedAsync()
    {
        AuthenticationState authState = await authenticationService.GetAuthenticationStateAsync();

        _username = authState.User.Identity?.Name;
    }
}